*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans sarif;
    box-sizing: border-box;
}
.body{
    background: #080808;
    color: #fff;
 }

.header{
    width: 100%;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/serious-businesswoman-using-laptop-dark-office_74855-3075.jpg?t=st=1698906735~exp=1698907335~hmac=8e5081339707a222478f487229a0cefc3e3749f38806965a2cc80f2ab86a2077);
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    display: flex;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text h1{
       color: #fff;    
}
.header-text p{
    color: #fff;    
}

/* media query  for small screen */
#nav.i{
  display :none;

} 

@media only screen and (max-width: 600px) {
   
    #header{
         background-image: url(https://img.freepik.com/free-photo/smiling-girl-is-working-laptop-internet-cafe_231208-4283.jpg?w=360&t=st=1699021860~exp=1699022460~hmac=073186a40796ed9b998e9e44d98bf73ec946bdb12292a9171aad712aa2d90a57);
    }
   .header-text{
    margin-top: 100%;
    font-size: 16px;
   } 
   .header-text h1{
    font-size: 25px;
   }
   .nav ul{
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
   }
   .nav ul li{
    display: block;
    margin: 25px;
   }
   .nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
   }
}